*~
.*~
.tmp
.librarian
.vagrant
clean.cmd
import_common.cmd
import_modules.trusty.sh
import_modules.jessie.sh
import_modules.win.cmd
import_vagrantfiles.cmd
import_vagrantfiles.sh
mini_path.cmd
prep.cmd
test_vars.cmd
vars.cmd
Puppetfile.lock
modules
modules-local
modules-local/p112misc
modules-contrib
puppet.old